<!-- views/partials/head.ejs-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>Interactive VR</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- CSS (load bootstrap from a CDN) -->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<style>
    body {
        padding-top:50px;
    }

    .dropdown-menu {
        width: 100%; 
    }

    .list-group-item {
        width: 100%;
    }

    .btn-group {
        width: 100%;
    }

    .jumbotron {
        background-color:#FFFFFE;
    }

    img {
                max-width: 100%;
                height: auto;
    }

    body {
        background-color:#D4E4F7;
    }

    #orgBtn {
        background-color:#FF7F50;
    }
</style>