<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron" style ="background-color:#FFFFFE">
                <img src="aubie.jpg" height = "80000" width = "82300"/>
                <h1 align='center'>Group 7: Classroom VR/AR</h1>
                <p class="a">This website creates an educational virtual reality environment for students to submerge themselves in course material.</p>
                <p></p>
                <p></p>
                <p class="a">Through this site you are able to:</p>
                <p>   </p>
                <p class="a">- Create an account as a teacher or student.</p>
                <p class="a">- As a teacher, create different classes that contain 3D images you can upload, and add students to these classes.</p>
                <p class="a">- As a user, view the different 3D images.</p>
                <p class="a">- As a student, go into "teacher view" mode, which allows you to view what the teacher is currently viewing.</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>