<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Incorrect login</h1>
                <p>Please try again or create a new student</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>